# .dockerignore
.git/

# .gitignore
*~
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
data/*/.deps/
data/*/.libs/
data/*/AUTHORS
data/*/COPYING
data/*/ChangeLog
data/*/INSTALL
data/*/Makefile
data/*/Makefile.in
data/*/Module*.lo
data/*/Module*.o
data/*/NEWS
data/*/aclocal.m4
data/*/autom4te.cache/
data/*/autoscan.log
data/*/config.h
data/*/config.h.in
data/*/config.log
data/*/config.status
data/*/config/
data/*/configure
data/*/configure.scan
data/*/install-sh
data/*/libModule*.la
data/*/libltdl/
data/*/libtool
data/*/stamp-h1
libltdl/
