# .gitignore
depcomp
compile
pinconfig.h
*~
Makefile
Makefile.in
README
aclocal.m4
*.o
*.a
config.*
configure
*/Makefile
*/Makefile.in
*/.libs/
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/pinball*/
debian/*.debhelper.log
debian/tmp/
install-sh
libltdl/
libtool
ltmain.sh
manpage.links
manpage.refs
missing
pinball-config
pinball.6
pinconfig.h.in
INSTALL
