*~

.pc/
*.o
*.a
*.lo
*.la

autom4te.cache/
config.log
config.status
data/Makefile
data/professor/.libs/
data/professor/Makefile
data/professor/ModuleProfessor.lo
data/professor/ModuleProfessor.o
data/professor/libModuleProfessor.la
data/tux/.libs/
data/tux/Makefile
data/tux/ModuleTux.lo
data/tux/ModuleTux.o
data/tux/libModuleTux.la
debian/files
debian/pinball-data.debhelper.log
debian/pinball-data.substvars
debian/pinball-data/
debian/pinball-dev.debhelper.log
debian/pinball-dev.substvars
debian/pinball-dev/
debian/pinball.debhelper.log
debian/pinball.postinst.debhelper
debian/pinball.postrm.debhelper
debian/pinball.substvars
debian/pinball/
debian/tmp/
libltdl/.libs/
libltdl/Makefile
libltdl/argz.c
libltdl/argz_.h
libltdl/config.h
libltdl/config.log
libltdl/config.status
libltdl/config/
libltdl/configure.ac
libltdl/dlopen.la
libltdl/dlopen.lo
libltdl/dlopen.o
libltdl/libltdl/
libltdl/libltdlc.la
libltdl/libltdlc_la-lt__alloc.lo
libltdl/libltdlc_la-lt__alloc.o
libltdl/libltdlc_la-lt_dlloader.lo
libltdl/libltdlc_la-lt_dlloader.o
libltdl/libltdlc_la-lt_error.lo
libltdl/libltdlc_la-lt_error.o
libltdl/libltdlc_la-ltdl.lo
libltdl/libltdlc_la-ltdl.o
libltdl/libltdlc_la-preopen.lo
libltdl/libltdlc_la-preopen.o
libltdl/libltdlc_la-slist.lo
libltdl/libltdlc_la-slist.o
libltdl/libtool
libltdl/loaders/
libltdl/lt__alloc.c
libltdl/lt__dirent.c
libltdl/lt__strl.c
libltdl/lt__strl.lo
libltdl/lt__strl.o
libltdl/lt_dlloader.c
libltdl/lt_error.c
libltdl/m4/
libltdl/slist.c
libltdl/stamp-h1
libtool
manpage.links
manpage.refs
pinball-config
pinball.6
src/ArmBehavior.o
src/BallGroup.o
src/BounceBehavior.o
src/BumperBehavior.o
src/EyeBehavior.o
src/Loader.o
src/LoaderModule.o
src/Makefile
src/Obj3dsUtil.o
src/Pinball.o
src/PlungerBehavior.o
src/Score.o
src/Script.o
src/StateBehavior.o
src/Table.o
src/libemilia_pin.a
src/pinball
stamp-h1
test/.libs/
test/Makefile
test/billboard
test/billboard.o
test/collision
test/collision.o
test/explode
test/explode.o
test/font
test/font.o
test/joy
test/joy.o
test/libModuleTest.la
test/light
test/light.o
test/load
test/load.o
test/math
test/math.o
test/menu
test/menu.o
test/misc
test/misc.o
test/moduletest.lo
test/moduletest.o
test/scale
test/scale.o
test/signal
test/signal.o
test/simple
test/simple.o
test/sound
test/sound.o
test/texture
test/texture.o
test/thread
test/thread.o
test/trans
test/trans.o
test/unittest
test/unittest.o
test/varray


