[Desktop Entry]
Categories=Game;ArcadeGame;X-Red-Hat-Extra
X-Desktop-File-Install-Version=0.2
Name=Emilia Pinball
Comment=3D pinball game
Exec=pinball
Icon=pinball.xpm
Terminal=false
Type=Application
Comment[fr]=Jeu de flipper 3D
Comment[ca]=Pinball 3D
Comment[es]=Pinball 3D
Keywords=Game;Arcade;Pinball;ArcadeGame
