# SPDX-License-Identifier: GPL-2.0+

[Unit]
Description=Weston Wayland compositor startup
RequiresMountsFor=/run

[Service]
Type=simple
User=root
EnvironmentFile=-/etc/pinball/weston.env.sh
Environment="XDG_RUNTIME_DIR=/run/user/0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/root/dbus/user_bus_socket"
ExecStartPre=/usr/bin/sudo /bin/mkdir -p /run/user/0/dbus
ExecStartPre=/usr/bin/sudo /bin/chown -R root:root /run/user/0/dbus
ExecStartPre=/bin/chmod -R 0700 /run/user/0
ExecStart=/usr/bin/weston --tty=2

[Install]
Alias=display-manager.service
WantedBy=graphical.target
